*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular;
}
@font-face { 
    font-family: "Roboto-Regular"; 
    src: url("../assets/fonts/Roboto-Regular.ttf"); 
} 
img{
    object-fit: fill;
    border-radius: 5px;
    width: 100%;
}

/* comienza header: div y nav*/
header{
    min-height: 200px;
    background-color: #000000;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    align-items: center;
    }
header div img{
        width: auto;
    }
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
li{
    list-style: none;
}
.nav_item{
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 7px;
}
.nav_item:hover {
    background-color: #5B9850;
    color: white;
}

/*comienza main:section y section*/
main{
    align-items: center;
    justify-content: center;
    min-height: 600px;
    background-color: #5B9850;
    padding: 10px 0;
    }
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
section form label{
     margin: 10px;
 }
 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
textarea{
    resize: none;
    margin: 10px 0;
}
/* div */
 .main__img {
margin:30px 0;
 }
        
 @media (min-width:660px)
 {

    .menu_nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        }

        .nav_item{
    
            font-size: 17px;
            color:white;
            text-decoration: none;
            padding: 0 5px;
            border-radius: 7px;
        }
        
 }

 /* comienza publicidad */

.publicidad{
    align-items: center;
    justify-content:center;
    display: flex;
    min-height: 400px;
    background-color: #E9C039;
}
.publicidad aside{
    width: 350px;
}


/*comienza footer */
footer{
    align-content: center;
    align-items: center;
    display: flex;
    height: 90px;
    background-color: #277274;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div p{
    margin-bottom: 0;
    }
footer div img{
    width: auto;
}

/* configuracion a cada pagina*/

/* page index */


/* comienza page tour */
 
.tour_main_div{
 margin: 15px;
} 

main section button a{
color: white;
}


/* page discrografia */
.main_discografia{
    
    flex-direction: row; 
}
.main__div{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    align-items: center;
}

/* page multimedia */

.section__fotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}   

@media (min-width:714px)
{
.ocultar{
    display: none;

}
article.section__fotos{
    max-width: 896px;
}

}

.section__fotos div{

    width: 200px ;
    margin: 15px;
}
.section__video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media (min-width:714px)
{

.section__video iframe{
    height:400px;
    width:600px;
}
}




/* pagina contacto */

@media (max-width:800px)
{

   .adaptar{
        flex-direction: column-reverse;
    }

    .tour_main_div{
        max-width: 330px;
    }

}

